

@{
    ViewBag.Title = "Index";
}
<head>
    <LINK REL=StyleSheet HREF="~/Content/MyStyles.css" TYPE="text/css" MEDIA=screen>
</head>
<div class="containerBox" style="justify-content:space-between">
    <h2>PC Games</h2>
</div>
<div class="containerBox" style="justify-content:space-evenly">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 310px">
            <div class="card-body">
                <p class="card-title">@item.title</p>
                <img src="@item.thumbnail" style="width:270px" />
                <p class="card-text" style="margin-top: 5px; ">@item.short_description</p>

                <div style="font-size: small; color: gray;">
                    <p>Genero: @item.genre</p><p>Lanzamiento: @item.release_date</p>
                </div>
                <a href="@item.freetogame_profile_url" class="btn btn-primary">Perfil</a>

            </div>
        </div>
    }
</div>


